@model E_MeetingMS.ViewModels.NewMeetingViewModel
@{
    ViewBag.Title = "Notification";
}

<h3>@ViewBag.Message</h3>

<div class="row w3-margin-top" >
    
    <h2 class="w3-text-white w3-center  w3-margin-left" style="margin-top: 106px;"><b>Create Meeting Notification</b></h2>
@using (Html.BeginForm("Create", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
   
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="col-md-5" >
        <div class="w3-panel  w3-card-4 w3-round-large  w3-margin-left w3-padding-large w3-text-black w3-large " style="font-weight: bold">

            <div class="">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "" })

                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "w3-input w3-border", placeholder = " Meeting Title", style = "max-width: 100%" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })

            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Venue, htmlAttributes: new { @class = "control-label " })

                @Html.EditorFor(model => model.Venue, new { htmlAttributes = new { @class = "w3-input w3-border", placeholder = "Venue of the meeting", style = "max-width: 100%" } })
                @Html.ValidationMessageFor(model => model.Venue, "", new { @class = "text-danger" })

            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label" })

                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "w3-input w3-border",  style = "max-width: 100%" , placeholder = " Format: DD/MM/YYYY" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })

            </div>

            

            <div class="form-group">
                @Html.LabelFor(model => model.Time, htmlAttributes: new { @class = "" })

                @Html.DropDownListFor(m => m.Time, new SelectList(Model.ExactTime, "Display", "Hidden"), "Select Time",
                                   new { @class = "form-control w3-margin-bottom ", id = "Destinationtxt" })
                @Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger" })

            </div>



            <div class="form-group  input-group ">
                <label for="fileinput" class="control-label ">Document(s)</label>
                <input type="file" name="postedFiles" multiple="multiple" id="fileinput" class="custom-file-label w3-button w3-round-xlarge" required />

            </div>
        </div>
        
        



           
            
        </div>


    <div class="col-md-7">
        <div class="w3-panel w3-round-large w3-text-black w3-card-4 w3-margin-left w3-padding-large w3-large" style="font-weight: bold">

            <h4 class="w3-text-unilag-maroon"><b>Select Participants</b> </h4>
            <div class="col-lg-5 col-xs-8">
                @Html.DropDownListFor(m => m.selectedUsers, new MultiSelectList(Model.Userlist, "Id", "UserName"),
                                   new { @class = "form-control w3-section", multiple = "multiple", size = 11 })
            </div>


            <div class="col-md-2 col-xs-4 w3-margin-top">
                <button type="button" id="selectedUsers_undo" class="btn btn-danger2 btn-block">UNDO</button>
                <button type="button" id="selectedUsers_rightAll" class="btn w3-black btn-block"><i class="glyphicon glyphicon-forward"></i></button>
                <button type="button" id="selectedUsers_rightSelected" class="btn w3-black btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
                <button type="button" id="selectedUsers_leftSelected" class="btn w3-black btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
                <button type="button" id="selectedUsers_leftAll" class="btn w3-black btn-block"><i class="glyphicon glyphicon-backward"></i></button>
                <button type="button" id="selectedUsers_redo" class="btn btn-danger2 btn-block">REDO</button>
            </div>

            <div class="col-lg-5 col-xs-10 w3-margin-top">
                <select name="to" id="selectedUsers_to" class="form-control" size="11" multiple="multiple" required></select>
            </div>

          
            <div class="w3-mobile w3-right">
                <button type="submit" class="btn btn-danger2 btn-lg w3-right  w3-section ">Submit</button>

            </div>

        </div>
    </div>

   

}
</div>



    @section scripts {
@Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {

            $('#selectedUsers').multiselect();

        });


    </script>
        
    }

